** DataFrame Example using Pandas**

In [1]:
import pandas as pd

In [2]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
type(pd.Series([1,2,3,4]))

pandas.core.series.Series

In [5]:
l1 = [10,20,30,40,50]
l2 = [11,22,33,44,55]
l3 = [21,22,23,24,25]

data = pd.Series([l1,l2,l3])
data

0    [10, 20, 30, 40, 50]
1    [11, 22, 33, 44, 55]
2    [21, 22, 23, 24, 25]
dtype: object

In [6]:
type(data)

pandas.core.series.Series

In [7]:
df = pd.DataFrame([l1,l2,l3])
df

    0   1   2   3   4
0  10  20  30  40  50
1  11  22  33  44  55
2  21  22  23  24  25

In [8]:
type(df)

pandas.core.frame.DataFrame

** DataFrame Title**

In [9]:
my_data = { 'Name' : ['Mike','Lee','Ram'],
           'Age' : [10,23,55]}

df_data = pd.DataFrame(my_data)

df_data

   Name  Age
0  Mike   10
1   Lee   23
2   Ram   55

In [10]:
my_data = ['English','Maths','Computer Science']
df_data = pd.DataFrame(my_data,columns=['Subjects'])
df_data

           Subjects
0           English
1             Maths
2  Computer Science

** Delete dataframe**

In [12]:
del df_data
df_data

NameError: ignored