**Data Analysis**

In [4]:
import pandas as pd
df = pd.read_csv("/content/sample_data/example_csv.csv").dropna()

In [ ]:
**Number of Records**

In [5]:
len(df)

73

In [6]:
df.head(3)

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498.0
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952.0
2,3,0bFED1ADAE4bcC1,Hester Ltd,http://sullivan-reed.com/,China,Switchable scalable moratorium,1971,Public Safety,5287.0

**Finding the average FOUNDED YEAR in the data set**

In [9]:
total_founded = sum(df['Founded'])
total_data = len(df)

founded_avg = total_founded/total_data
print(founded_avg)
print(int(founded_avg))

1995.4109589041095
1995

**Howmany companies founded before 1980**

In [10]:
count = 0
for i in df['Founded']:
  if i >= 1980:
    count += 1

print("Number companies founded on/before 1980 is : %d" % count)

Number companies founded on/before 1980 is : 59