**Data Analysis - Categorical**

In [2]:
import pandas as pd
df = pd.read_csv("/content/sample_data/example_csv.csv").dropna()

df.head(2)

**Find the unique countries**

In [3]:
print("Unique Countires :", df['Country'].unique())            #Unique values from the columns
print("No of unique countires :", len(df['Country'].unique()))

Unique Countires : ['Papua New Guinea' 'Finland' 'China' 'Turkmenistan' 'Mauritius' 'Bahamas'
 'Pakistan' 'Heard Island and McDonald Islands' 'Kuwait' 'Uzbekistan'
 'Bouvet Island (Bouvetoya)' 'Denmark' 'Liberia' 'United Arab Emirates'
 'Sweden' 'Honduras' 'Uganda' 'Hong Kong' 'Botswana' 'Korea' 'Luxembourg'
 'Guadeloupe' 'Monaco' 'Belgium' 'South Africa' 'Romania' 'Czech Republic'
 'Christmas Island' 'Philippines' 'Australia' 'Chad' 'Zimbabwe' 'Nepal'
 'Taiwan' 'Kyrgyz Republic' 'Bolivia' 'Kenya' 'Guatemala' 'Belarus'
 'Jersey' 'Grenada' 'Cape Verde' 'Trinidad and Tobago' 'Benin' 'Turkey'
 'Timor-Leste' 'Vietnam' 'Reunion' 'Brazil' 'Eritrea'
 'United States Virgin Islands' 'Falkland Islands (Malvinas)'
 'Northern Mariana Islands' 'Netherlands Antilles' 'Cameroon'
 'Cocos (Keeling) Islands' 'Mali' 'Burundi' 'Gibraltar' 'El Salvador'
 'Ethiopia' 'Anguilla' 'Togo']
No of unique countires : 63

**Country wide Number of Companies**

In [4]:
country = {}
for i in df['Country'].unique():
    c = 0
    for j in df['Country']:
        if i == j:
            c += 1
    country[i] = c

print("Country wide number of companies : ", country)

Country wide number of companies :  {'Papua New Guinea': 1, 'Finland': 1, 'China': 1, 'Turkmenistan': 1, 'Mauritius': 1, 'Bahamas': 1, 'Pakistan': 1, 'Heard Island and McDonald Islands': 1, 'Kuwait': 1, 'Uzbekistan': 1, 'Bouvet Island (Bouvetoya)': 1, 'Denmark': 1, 'Liberia': 1, 'United Arab Emirates': 1, 'Sweden': 3, 'Honduras': 1, 'Uganda': 1, 'Hong Kong': 1, 'Botswana': 1, 'Korea': 1, 'Luxembourg': 2, 'Guadeloupe': 1, 'Monaco': 1, 'Belgium': 1, 'South Africa': 1, 'Romania': 1, 'Czech Republic': 1, 'Christmas Island': 1, 'Philippines': 1, 'Australia': 1, 'Chad': 1, 'Zimbabwe': 2, 'Nepal': 1, 'Taiwan': 2, 'Kyrgyz Republic': 2, 'Bolivia': 1, 'Kenya': 1, 'Guatemala': 1, 'Belarus': 1, 'Jersey': 1, 'Grenada': 1, 'Cape Verde': 1, 'Trinidad and Tobago': 1, 'Benin': 2, 'Turkey': 1, 'Timor-Leste': 1, 'Vietnam': 1, 'Reunion': 1, 'Brazil': 1, 'Eritrea': 2, 'United States Virgin Islands': 2, 'Falkland Islands (Malvinas)': 2, 'Northern Mariana Islands': 1, 'Netherlands Antilles': 1, 'Cameroon': 1, 'Cocos (Keeling) Islands': 1, 'Mali': 1, 'Burundi': 1, 'Gibraltar': 1, 'El Salvador': 1, 'Ethiopia': 1, 'Anguilla': 1, 'Togo': 1}

In [5]:
df['Country'].describe()               ### Automatic function to get unique, total and freq

count         73
unique        63
top       Sweden
freq           3
Name: Country, dtype: object

**NULL Value Handling - Numeric**

In [6]:
#Method#1 to remove NULL is 'dropna'

print("Total Records ", len(df))
print("Total Unique Records", len(df.dropna()))


df.dropna().head(2)

Total Records  73
Total Unique Records 73

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,FAB0d41d5b5d22c,Ferrell LLC,https://price.net/,Papua New Guinea,Horizontal empowering knowledgebase,1990,Plastics,3498.0
1,2,6A7EdDEA9FaDC52,"Mckinney, Riley and Day",http://www.hall-buchanan.info/,Finland,User-centric system-worthy leverage,2015,Glass / Ceramics / Concrete,4952.0

**Using Imputers to replacing NULL*

In [7]:
from sklearn.impute import SimpleImputer
import numpy as np

# create a sample dataset with missing values
X = np.array([[1, 2, np.nan],
              [3, np.nan, 4],
              [5, 6, 7],
              [8, np.nan, 9]])

print("Before Impute : \n",X)
# create an imputer object with mean imputation strategy
imputer = SimpleImputer(strategy='mean')

# fit the imputer object to the data and transform it
X_imputed = imputer.fit_transform(X)

# print the imputed data
print("\nAfter Impute : \n",X_imputed)

Before Impute :
 [[ 1.  2. nan]
 [ 3. nan  4.]
 [ 5.  6.  7.]
 [ 8. nan  9.]]

After Impute :
 [[1.         2.         6.66666667]
 [3.         4.         4.        ]
 [5.         6.         7.        ]
 [8.         4.         9.        ]]

In [9]:
import numpy as np
from sklearn.impute import SimpleImputer

print("\n Before filing NULL in description", df.isnull().sum())
imputer = SimpleImputer(strategy='most_frequent')

#NOTE :df.iloc[:,5:6]  >>> Getting the description columns

df_imputed = imputer.fit_transform(df.iloc[:,5:6].values)              ### Getting 'Description' column and filling
#print("\n Before filing NULL in description", df_imputed)              ### Null with "most_frequent" occured data

df.iloc[:,5:6] = df_imputed                                            ### After filing and recreate DF

print("\n After filing NULL in description", df.isnull().sum())

 Before filing NULL in description Index                  0
Organization Id        0
Name                   0
Website                0
Country                0
Description            0
Founded                0
Industry               0
Number of employees    0
dtype: int64

 After filing NULL in description Index                  0
Organization Id        0
Name                   0
Website                0
Country                0
Description            0
Founded                0
Industry               0
Number of employees    0
dtype: int64